[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Pato Yumbilloe
Comment=Application description
Icon=/path/to/icon.xpm
Exec=/path/to/application/executable
Terminal=false
Categories=Tags;Describing;Applicatione